/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
    font-family: "Circular";
    src: url(./fonts/CircularStd-Bold.otf) format("truetype");
}
p { 
    font-family: "Circular", Verdana, Tahoma;
}
.fm-btn--light{
    height: 45px;
    width: 90px;
    border: 1px solid #2c5bfc;
    text-transform: uppercase;
    text-align: center;
    background: #fff;
    color: #2c5bfc;
    border-radius: 3px;
}

.fm-cookies{
    padding-top: 6px;
    box-sizing: border-box;
    position: fixed;
    display: block;
    width: 100%;
    background-color: #fff;
    height: 58px;
}
.fm-cookies p{
    padding-top: 14px;
    font-size: 12px;
    color: #9B9B9B;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 50px;
float: left;
}
header{
    text-align: center;
    width: 100%;
    top: 0;
    height: 750px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c5bfc+0,42d5fc+100 */
background: #2c5bfc; /* Old browsers */
background: -moz-linear-gradient(left, #2c5bfc 0%, #42d5fc 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #2c5bfc 0%,#42d5fc 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #2c5bfc 0%,#42d5fc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c5bfc', endColorstr='#42d5fc',GradientType=1 ); /* IE6-9 */
}
header h1{
    padding-top: 240px;
    color: #fff;
}
header p {
    color: #fff;
    font-size: 20px;
    padding-top: 35px;
    text-align: center;
}
.fm-pres--img{
    margin-top: 95px;
}